In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("df_cleaned.pkl")

In [3]:
df.head()

,Article,Title,Paragraphs,References_internal_clean,Paragraphs_cleaned
1,Article 1,Scope,This Regulation lays down uniform rules concer...,[460],This Regulation lays down uniform rules concer...
2,Article 2,Supervisory powers,For the purposes of ensuring compliance with t...,[],For the purposes of ensuring compliance with t...
3,Article 3,Application of stricter requirements by instit...,This Regulation shall not prevent institutions...,[],This Regulation shall not prevent institutions...
4,Article 4,Definitions,"1. For the purposes of this Regulation, the ...","[4, 2, 115, 25, 71, 301, 113, 1]","1. For the purposes of this Regulation, the ..."
5,Article 5,Definitions specific to capital requirements f...,"For the purposes of Part Three, Title II, the ...",[],"For the purposes of Part Three, Title II, the ..."

In [4]:
del df['Paragraphs']

In [5]:
df.head()

,Article,Title,References_internal_clean,Paragraphs_cleaned
1,Article 1,Scope,[460],This Regulation lays down uniform rules concer...
2,Article 2,Supervisory powers,[],For the purposes of ensuring compliance with t...
3,Article 3,Application of stricter requirements by instit...,[],This Regulation shall not prevent institutions...
4,Article 4,Definitions,"[4, 2, 115, 25, 71, 301, 113, 1]","1. For the purposes of this Regulation, the ..."
5,Article 5,Definitions specific to capital requirements f...,[],"For the purposes of Part Three, Title II, the ..."

In [41]:
frame = pd.DataFrame(columns = ['Article1', 'Article1_Paragraphs', 'Article2', 'Article2_Paragraphs'])
frame.index = frame.index + 1

In [42]:
for x in range (1, len(df)):
    numbers = df['References_internal_clean'][x]
    numbers = list(map(int, numbers))
    for y in range (1, len(df)):
        if y in numbers:
            frame['Article1']= df['Article'][x]
            frame['Article1_Paragraphs'] = df['Paragraphs_cleaned'][x]
            frame['Article2'] = df['Article'][y]
            frame['Article2_Paragraphs'] = df['Paragraphs_cleaned'][y]

In [40]:
frame.head()

Empty DataFrame
Columns: [Article1, Article2, Article1_Paragraphs, Article2_Paragraphs]
Index: []

In [43]:
print (df)
   Article Reference  Text
1        1   3, 4, 5  xyz1
2        2  5, 9, 10  xyz2
3        3   1, 2, 3  xyz3

from itertools import chain

s = df['Reference'].str.split(',\s+')
lens = s.str.len()
df1 = pd.DataFrame({
    'Article2' : list(chain.from_iterable(s)), 
    'Article1' : df['Article'].values.repeat(lens),
    'Text1' : df['Text'].values.repeat(lens),
}, columns=['Article1','Text1','Article2'])

df1['Text2'] = df1['Article2'].astype(int).map(df.set_index('Article')['Text'])
print (df1)
   Article1 Text1 Article2 Text2
0         1  xyz1        3  xyz3
1         1  xyz1        4   NaN
2         1  xyz1        5   NaN
3         2  xyz2        5   NaN
4         2  xyz2        9   NaN
5         2  xyz2       10   NaN
6         3  xyz3        1  xyz1
7         3  xyz3        2  xyz2
8         3  xyz3        3  xyz3

IndentationError: unexpected indent (<ipython-input-43-817cc96b93b4>, line 2)