In [214]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re

In [215]:
d = {'Article': [], 'Title': [], 'Paragraphs':[]}
df = pd.DataFrame(data=d)

In [216]:
# Create empty dataframe with three columns
df=pd.DataFrame(columns = ["Article", "Title", "Paragraphs"])
df

Empty DataFrame
Columns: [Article, Title, Paragraphs]
Index: []

In [217]:
# Extracts data from the CRR (HTML format) and put the articles with titles 
# and paragraphs into the DF

page = requests.get("http://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32013R0575&from=en")
soup = BeautifulSoup(page.content, 'lxml')

title, subtitle, para = '', '', ''
i = 1
for p in soup.find_all('p', class_=['ti-art', 'sti-art', 'normal']):
    if p['class'][0] == 'ti-art':
        if title:
            df.loc[i] = [title, subtitle, para]
            i+= 1
        title = p.text
        para = ''
        continue
    if p['class'][0] == 'sti-art':
        subtitle = p.text
        continue

    para += p.text + ' '

In [218]:
df.head()

,Article,Title,Paragraphs
1,Article 1,Scope,This Regulation lays down uniform rules concer...
2,Article 2,Supervisory powers,For the purposes of ensuring compliance with t...
3,Article 3,Application of stricter requirements by instit...,This Regulation shall not prevent institutions...
4,Article 4,Definitions,"1. For the purposes of this Regulation, the ..."
5,Article 5,Definitions specific to capital requirements f...,"For the purposes of Part Three, Title II, the ..."

In [219]:
def references(text):
    res = re.findall(r'(?=(?P<section>Articles?\W+(\w+)(\(\w+\))?((,| and) (\w+)(\(\w+\))?)*))(?P=section)(?! of)', text)
    res2 = re.findall(r'(?=(?P<section>Article?\W+(\w+)(\(\w+\))))(?P=section)(?! of)', text)
    res.append(res2)
    return res

In [220]:
df['References_internal'] = df['Paragraphs'].apply(references)

In [221]:
df.head()

,Article,Title,Paragraphs,References_internal
1,Article 1,Scope,This Regulation lays down uniform rules concer...,"[(Article 460, 460, , , , , ), []]"
2,Article 2,Supervisory powers,For the purposes of ensuring compliance with t...,[[]]
3,Article 3,Application of stricter requirements by instit...,This Regulation shall not prevent institutions...,[[]]
4,Article 4,Definitions,"1. For the purposes of this Regulation, the ...","[(Article 4(1), 4, (1), , , , ), (Article 4(1)..."
5,Article 5,Definitions specific to capital requirements f...,"For the purposes of Part Three, Title II, the ...",[[]]

In [222]:
def clean_references(text2):
    res2 = re.findall('\d+(?!\))', text2)
    return res2

In [223]:
def f4(seq): 
    noDupes = []
    [noDupes.append(i) for i in seq if not noDupes.count(i)]
    return noDupes

In [224]:
df['References_internal'] = df['References_internal'].astype(str)

In [225]:
df['References_internal_clean'] = df['References_internal'].apply(clean_references)

In [226]:
df['References_internal_clean'] = df['References_internal_clean'].apply(f4)

In [227]:
def references_replaced(text):
    res = re.sub(r'(?=(?P<section>Articles?\W+(\w+)(\(\w+\))?((,| and) (\w+)(\(\w+\))?)*))(?P=section)(?! of)', '', text)
    res2 = re.sub(r'(?=(?P<section>Article?\W+(\w+)(\(\w+\))))(?P=section)(?! of)', '', res)
    return res2

In [228]:
df['Paragraphs_cleaned'] = df['Paragraphs'].apply(references_replaced)

In [229]:
df.head()

,Article,Title,Paragraphs,References_internal,References_internal_clean,Paragraphs_cleaned
1,Article 1,Scope,This Regulation lays down uniform rules concer...,"[('Article 460', '460', '', '', '', '', ''), []]",[460],This Regulation lays down uniform rules concer...
2,Article 2,Supervisory powers,For the purposes of ensuring compliance with t...,[[]],[],For the purposes of ensuring compliance with t...
3,Article 3,Application of stricter requirements by instit...,This Regulation shall not prevent institutions...,[[]],[],This Regulation shall not prevent institutions...
4,Article 4,Definitions,"1. For the purposes of this Regulation, the ...","[('Article 4(1)', '4', '(1)', '', '', '', ''),...","[4, 2, 115, 25, 71, 301, 113, 1]","1. For the purposes of this Regulation, the ..."
5,Article 5,Definitions specific to capital requirements f...,"For the purposes of Part Three, Title II, the ...",[[]],[],"For the purposes of Part Three, Title II, the ..."

In [15]:
# Save to CSV
header = ["Article", "Title", "Paragraphs", "References_internal", "References_internal_clean"]
df.to_csv("CRR_regulation_references.csv", sep=',', encoding='utf8', columns = header)

In [230]:
from nltk.stem.snowball import SnowballStemmer 
df['tokenized'] = df['Paragraphs_cleaned'].astype(str).str.split()
stemmer = SnowballStemmer("english") 
df['stemmed'] = df['tokenized'].apply(lambda x: [stemmer.stem(y) for y in x])

In [231]:
del df['tokenized']
del df['References_internal']

In [232]:
df.head()

,Article,Title,Paragraphs,References_internal_clean,Paragraphs_cleaned,stemmed
1,Article 1,Scope,This Regulation lays down uniform rules concer...,[460],This Regulation lays down uniform rules concer...,"[this, regul, lay, down, uniform, rule, concer..."
2,Article 2,Supervisory powers,For the purposes of ensuring compliance with t...,[],For the purposes of ensuring compliance with t...,"[for, the, purpos, of, ensur, complianc, with,..."
3,Article 3,Application of stricter requirements by instit...,This Regulation shall not prevent institutions...,[],This Regulation shall not prevent institutions...,"[this, regul, shall, not, prevent, institut, f..."
4,Article 4,Definitions,"1. For the purposes of this Regulation, the ...","[4, 2, 115, 25, 71, 301, 113, 1]","1. For the purposes of this Regulation, the ...","[1., for, the, purpos, of, this, regulation,, ..."
5,Article 5,Definitions specific to capital requirements f...,"For the purposes of Part Three, Title II, the ...",[],"For the purposes of Part Three, Title II, the ...","[for, the, purpos, of, part, three,, titl, ii,..."

In [233]:
import numpy as np
import pandas as pd
import nltk
import re
import os
import codecs
from sklearn import feature_extraction
#import mpld3

In [234]:
paragraphs = df['Paragraphs_cleaned'].tolist()
articles = df['Article'].tolist()
internal_references = df['References_internal_clean'].tolist()

In [235]:
from sklearn.feature_extraction.text import TfidfVectorizer

#define vectorizer parameters
tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=200000,
                                 min_df=0.2, stop_words='english',
                                 use_idf=True, ngram_range=(1,3))

#tokenizer=tokenize_and_stem

tfidf_matrix = tfidf_vectorizer.fit_transform(paragraphs) #fit the vectorizer to synopses

print(tfidf_matrix.shape)

(524, 59)

In [236]:
terms = tfidf_vectorizer.get_feature_names()

In [237]:
from sklearn.metrics.pairwise import cosine_similarity
dist = 1 - cosine_similarity(tfidf_matrix)
print(dist)

[[ 0.00000000e+00  6.01156660e-01  6.04823963e-01 ...  6.52632556e-01
   7.26070350e-01  8.84983268e-01]
 [ 6.01156660e-01  0.00000000e+00  6.53937797e-01 ...  5.50781798e-01
   4.90104691e-01  8.86698911e-01]
 [ 6.04823963e-01  6.53937797e-01  0.00000000e+00 ...  5.36497097e-01
   7.69091088e-01  9.18418571e-01]
 ...
 [ 6.52632556e-01  5.50781798e-01  5.36497097e-01 ... -2.22044605e-16
   4.88642044e-01  6.79274471e-01]
 [ 7.26070350e-01  4.90104691e-01  7.69091088e-01 ...  4.88642044e-01
  -2.22044605e-16  4.68592992e-01]
 [ 8.84983268e-01  8.86698911e-01  9.18418571e-01 ...  6.79274471e-01
   4.68592992e-01 -2.22044605e-16]]

In [238]:
#K-means clustering
from sklearn.cluster import KMeans
num_clusters = 100
km = KMeans(n_clusters=num_clusters)
%time km.fit(tfidf_matrix)
clusters = km.labels_.tolist()

Wall time: 1.83 s

In [239]:
from sklearn.externals import joblib

joblib.dump(km,  'doc_cluster.pkl')

km = joblib.load('doc_cluster.pkl')
clusters = km.labels_.tolist()

In [244]:
crr_articles = { 'article': articles, 'paragraph': paragraphs, 'cluster': clusters, 'internal_references': internal_references}

frame = pd.DataFrame(crr_articles, index = [clusters], columns = ['article', 'cluster', 'internal_references'])

In [263]:
frame.head(10)

,article,cluster,internal_references,assigned_articles
93,Article 1,93,[460],"[1, 397]"
79,Article 2,79,[],"[2, 146, 295, 380, 407, 414]"
83,Article 3,83,[],"[3, 436]"
19,Article 4,19,"[4, 2, 115, 25, 71, 301, 113, 1]","[4, 12, 98, 118, 142, 349, 405, 411, 450]"
67,Article 5,67,[],"[5, 192, 392]"
66,Article 6,66,"[19, 89, 90, 91, 508, 95, 7, 96]","[6, 16, 459]"
36,Article 7,36,"[6, 11]","[7, 8, 9, 10, 17, 18, 49, 314, 396]"
36,Article 8,36,"[21, 113]","[7, 8, 9, 10, 17, 18, 49, 314, 396]"
36,Article 9,36,"[6, 7]","[7, 8, 9, 10, 17, 18, 49, 314, 396]"
36,Article 10,36,[],"[7, 8, 9, 10, 17, 18, 49, 314, 396]"

In [246]:
def assigned_articles(number):
    res = []
    for article in frame.ix[number]['article'].values.tolist():
        res.append(article)
    return res

In [247]:
frame['assigned_articles'] = frame['cluster'].apply(assigned_articles)

C:\Users\skamuf\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

In [264]:
frame.head()

,article,cluster,internal_references,assigned_articles
93,Article 1,93,[460],"[1, 397]"
79,Article 2,79,[],"[2, 146, 295, 380, 407, 414]"
83,Article 3,83,[],"[3, 436]"
19,Article 4,19,"[4, 2, 115, 25, 71, 301, 113, 1]","[4, 12, 98, 118, 142, 349, 405, 411, 450]"
67,Article 5,67,[],"[5, 192, 392]"

In [257]:
frame['assigned_articles'] = frame['assigned_articles'].astype(str)
frame['assigned_articles'] = frame['assigned_articles'].apply(clean_references)

In [262]:
joblib.dump(frame,'kmeans_cluster_frame.pkl')

['kmeans_cluster_frame.pkl']

In [265]:
frame["matches"] = [set(frame.loc[r, "internal_references"]) & set(frame.loc[r, "assigned_articles"]) for r in range(len(frame))]

TypeError: unhashable type: 'list'

In [181]:
from __future__ import print_function

#sort cluster centers by proximity to centroid
order_centroids = km.cluster_centers_.argsort()[:, ::-1] 

for i in range(num_clusters):
    print("Cluster %d articles:" % i, end='')
    for article in frame.ix[i]['article'].values.tolist():
        print(' %s,' % article, end='')
    print() #add whitespace
    print() #add whitespace
    
print()
print()

Cluster 0 articles: Article 296, Article 298, Article 416, Article 418, Article 421, Article 422, Article 425, Article 509,

Cluster 1 articles: Article 101, Article 124, Article 143, Article 144, Article 150, Article 164, Article 173, Article 394, Article 495,

Cluster 2 articles: Article 212, Article 248, Article 308, Article 309, Article 342, Article 378, Article 391,

Cluster 3 articles: Article 129, Article 160, Article 201, Article 202, Article 247, Article 254, Article 399,

Cluster 4 articles: Article 303, Article 326, Article 327, Article 328, Article 333, Article 334, Article 337, Article 348, Article 350, Article 371, Article 373,

Cluster 5 articles: Article 34, Article 89, Article 465, Article 492, Article 499,

Cluster 6 articles: Article 51, Article 64, Article 198, Article 483, Article 486,

Cluster 7 articles: Article 217, Article 299, Article 403, Article 444,

Cluster 8 articles: Article 504, Article 508, Article 514,

Cluster 9 articles: Article 275, Article 392,

Cluster 10 articles: Article 2, Article 18, Article 20, Article 21, Article 100, Article 312, Article 415, Article 430, Article 50c,

Cluster 11 articles: Article 141, Article 367, Article 368, Article 376, Article 389, Article 455,

Cluster 12 articles: Article 62, Article 108, Article 130, Article 156, Article 193, Article 237, Article 240, Article 241, Article 246, Article 251, Article 257, Article 258, Article 264, Article 266, Article 385, Article 453,

Cluster 13 articles: Article 474, Article 476,

Cluster 14 articles: Article 110, Article 178, Article 189, Article 194, Article 197, Article 243, Article 244, Article 259, Article 268, Article 332, Article 336, Article 424,

Cluster 15 articles: Article 135, Article 515, Article 520,

Cluster 16 articles: Article 145, Article 149, Article 283, Article 313, Article 363,

Cluster 17 articles: Article 3, Article 436, Article 457,

Cluster 18 articles: Article 329, Article 344, Article 352, Article 354, Article 358,

Cluster 19 articles: Article 45, Article 59, Article 69,

Cluster 20 articles: Article 277, Article 278, Article 288, Article 335, Article 370, Article 435, Article 448,

Cluster 21 articles: Article 207, Article 208, Article 209, Article 210, Article 319, Article 369,

Cluster 22 articles: Article 42, Article 57, Article 67, Article 279, Article 281, Article 331, Article 353, Article 357, Article 374, Article 375,

Cluster 23 articles: Article 467, Article 468, Article 480,

Cluster 24 articles: Article 159, Article 262, Article 447,

Cluster 25 articles: Article 221, Article 273, Article 377, Article 383, Article 384, Article 386, Article 417,

Cluster 26 articles: Article 36, Article 56, Article 437,

Cluster 27 articles: Article 107, Article 112, Article 114, Article 115, Article 116, Article 117, Article 119, Article 120, Article 121, Article 128, Article 170, Article 302, Article 387, Article 400, Article 493, Article 496,

Cluster 28 articles: Article 137, Article 138, Article 139, Article 204, Article 213, Article 216, Article 218, Article 224, Article 269, Article 347, Article 439,

Cluster 29 articles: Article 30, Article 50, Article 362, Article 471,

Cluster 30 articles: Article 28, Article 29, Article 31, Article 43, Article 52, Article 53, Article 54, Article 63, Article 66, Article 77, Article 200, Article 282, Article 330, Article 489,

Cluster 31 articles: Article 47, Article 470, Article 479,

Cluster 32 articles: Article 11, Article 13, Article 14, Article 15, Article 405,

Cluster 33 articles: Article 113, Article 132, Article 305, Article 311, Article 349,

Cluster 34 articles: Article 55, Article 65,

Cluster 35 articles: Article 192, Article 227, Article 272, Article 274, Article 276, Article 284, Article 285, Article 290, Article 292, Article 294,

Cluster 36 articles: Article 7, Article 8, Article 9, Article 10, Article 17, Article 49, Article 146, Article 148, Article 314, Article 396, Article 414, Article 420,

Cluster 37 articles: Article 462, Article 505, Article 516, Article 517, Article 518,

Cluster 38 articles: Article 35, Article 488, Article 490, Article 491,

Cluster 39 articles: Article 32, Article 41, Article 304, Article 341,

Cluster 40 articles: Article 484, Article 485,

Cluster 41 articles: Article 325, Article 343, Article 351, Article 356, Article 360,

Cluster 42 articles: Article 40, Article 324, Article 427,

Cluster 43 articles: Article 123, Article 147, Article 152, Article 153, Article 154, Article 161, Article 162, Article 172, Article 176, Article 242, Article 255, Article 261, Article 289, Article 306, Article 310, Article 379, Article 390, Article 398, Article 449,

Cluster 44 articles: Article 111, Article 166, Article 167, Article 168, Article 233, Article 239,

Cluster 45 articles: Article 183, Article 388, Article 408, Article 413, Article 498,

Cluster 46 articles: Article 109, Article 134, Article 151, Article 155, Article 157, Article 158, Article 195, Article 245, Article 249, Article 250, Article 252, Article 253, Article 256, Article 260, Article 263, Article 265, Article 438, Article 452,

Cluster 47 articles: Article 46, Article 48, Article 60, Article 70, Article 428,

Cluster 48 articles: Article 175, Article 179, Article 180, Article 186, Article 190, Article 446,

Cluster 49 articles: Article 23, Article 39, Article 393,

Cluster 50 articles: Article 315, Article 317, Article 355, Article 361,

Cluster 51 articles: Article 84, Article 85, Article 87, Article 91,

Cluster 52 articles: Article 226, Article 307,

Cluster 53 articles: Article 502, Article 506, Article 507, Article 510, Article 513, Article 519,

Cluster 54 articles: Article 12, Article 22, Article 98, Article 434, Article 450,

Cluster 55 articles: Article 300, Article 382, Article 463, Article 464, Article 482, Article 497, Article 50b,

Cluster 56 articles: Article 61, Article 71,

Cluster 57 articles: Article 75, Article 215,

Cluster 58 articles: Article 339, Article 340,

Cluster 59 articles: Article 1, Article 92, Article 106, Article 346, Article 397,

Cluster 60 articles: Article 80, Article 99, Article 136, Article 270, Article 410, Article 419, Article 426, Article 441, Article 443, Article 451,

Cluster 61 articles: Article 219, Article 238,

Cluster 62 articles: Article 81, Article 82, Article 83, Article 500,

Cluster 63 articles: Article 5, Article 404,

Cluster 64 articles: Article 206,

Cluster 65 articles: Article 125, Article 126, Article 199, Article 211, Article 232, Article 401, Article 402, Article 50d,

Cluster 66 articles: Article 364, Article 445,

Cluster 67 articles: Article 181, Article 182, Article 185, Article 188, Article 225, Article 316, Article 318, Article 412, Article 431,

Cluster 68 articles: Article 25, Article 86, Article 494,

Cluster 69 articles: Article 122, Article 127, Article 131, Article 140, Article 442,

Cluster 70 articles: Article 90, Article 469, Article 472, Article 475, Article 477,

Cluster 71 articles: Article 234, Article 291, Article 293, Article 372, Article 454,

Cluster 72 articles: Article 6, Article 16,

Cluster 73 articles: Article 220, Article 222, Article 223, Article 228, Article 230, Article 231, Article 235, Article 236, Article 271, Article 429,

Cluster 74 articles: Article 44, Article 58, Article 68,

Cluster 75 articles: Article 191,

Cluster 76 articles: Article 33, Article 229, Article 280, Article 365, Article 366,

Cluster 77 articles: Article 37, Article 473,

Cluster 78 articles: Article 395, Article 458, Article 459, Article 501, Article 503,

Cluster 79 articles: Article 171, Article 174, Article 177, Article 184, Article 286, Article 287, Article 297, Article 320, Article 321, Article 322,

Cluster 80 articles: Article 511,

Cluster 81 articles: Article 103, Article 104, Article 105, Article 338, Article 345, Article 359,

Cluster 82 articles: Article 163, Article 169, Article 323, Article 407,

Cluster 83 articles: Article 4, Article 19, Article 118, Article 142, Article 411,

Cluster 84 articles: Article 133, Article 165, Article 187,

Cluster 85 articles: Article 102,

Cluster 86 articles: Article 432, Article 433,

Cluster 87 articles: Article 295, Article 380,

Cluster 88 articles: Article 26, Article 73, Article 76, Article 78, Article 79, Article 94,

Cluster 89 articles: Article 95, Article 96,

Cluster 90 articles: Article 205, Article 406, Article 409,

Cluster 91 articles: Article 196, Article 456,

Cluster 92 articles: Article 203, Article 267,

Cluster 93 articles: Article 381,

Cluster 94 articles: Article 460, Article 461, Article 512,

Cluster 95 articles: Article 24, Article 466, Article 478, Article 481, Article 487,

Cluster 96 articles: Article 97, Article 440, Article 50a,

Cluster 97 articles: Article 72, Article 74, Article 88, Article 93,

Cluster 98 articles: Article 214, Article 301,

Cluster 99 articles: Article 27, Article 38, Article 423,