In [16]:
import scipy
import numpy
import gensim
import pandas as pd
import re
from sklearn import feature_extraction

In [4]:
df = pd.read_pickle("df_cleaned.pkl")

In [5]:
df.head()

,Article,Title,Paragraphs,References_internal_clean,Paragraphs_cleaned
1,Article 1,Scope,This Regulation lays down uniform rules concer...,[460],This Regulation lays down uniform rules concer...
2,Article 2,Supervisory powers,For the purposes of ensuring compliance with t...,[],For the purposes of ensuring compliance with t...
3,Article 3,Application of stricter requirements by instit...,This Regulation shall not prevent institutions...,[],This Regulation shall not prevent institutions...
4,Article 4,Definitions,"1. For the purposes of this Regulation, the ...","[4, 2, 115, 25, 71, 301, 113, 1]","1. For the purposes of this Regulation, the ..."
5,Article 5,Definitions specific to capital requirements f...,"For the purposes of Part Three, Title II, the ...",[],"For the purposes of Part Three, Title II, the ..."

In [7]:
paragraphs = df['Paragraphs_cleaned'].tolist()
articles = df['Article'].tolist()
internal_references = df['References_internal_clean'].tolist()

In [8]:
from sklearn.feature_extraction.text import TfidfVectorizer

#define vectorizer parameters
tfidf_vectorizer = TfidfVectorizer(max_df=0.8, max_features=200000,
                                 min_df=0.2, stop_words='english',
                                 use_idf=True, ngram_range=(1,3))

tfidf_matrix = tfidf_vectorizer.fit_transform(paragraphs) #fit the vectorizer to paragraphs

print(tfidf_matrix.shape)

(524, 59)

In [9]:
terms = tfidf_vectorizer.get_feature_names()

In [10]:
from sklearn.metrics.pairwise import cosine_similarity
dist = 1 - cosine_similarity(tfidf_matrix)
print(dist)

[[ 0.00000000e+00  6.01156660e-01  6.04823963e-01 ...  6.52632556e-01
   7.26070350e-01  8.84983268e-01]
 [ 6.01156660e-01  0.00000000e+00  6.53937797e-01 ...  5.50781798e-01
   4.90104691e-01  8.86698911e-01]
 [ 6.04823963e-01  6.53937797e-01  0.00000000e+00 ...  5.36497097e-01
   7.69091088e-01  9.18418571e-01]
 ...
 [ 6.52632556e-01  5.50781798e-01  5.36497097e-01 ... -2.22044605e-16
   4.88642044e-01  6.79274471e-01]
 [ 7.26070350e-01  4.90104691e-01  7.69091088e-01 ...  4.88642044e-01
  -2.22044605e-16  4.68592992e-01]
 [ 8.84983268e-01  8.86698911e-01  9.18418571e-01 ...  6.79274471e-01
   4.68592992e-01 -2.22044605e-16]]

In [11]:
#K-means clustering
from sklearn.cluster import KMeans
num_clusters = 100
km = KMeans(n_clusters=num_clusters)
%time km.fit(tfidf_matrix)
clusters = km.labels_.tolist()

Wall time: 2.17 s

In [12]:
crr_articles = { 'article': articles, 'paragraph': paragraphs, 'cluster': clusters, 'internal_references': internal_references}

frame = pd.DataFrame(crr_articles, index = [clusters], columns = ['article', 'cluster', 'internal_references'])

In [24]:
def assigned_articles(number):
    res = []
    for article in frame.ix[number]['article'].values.tolist():
        res.append(article)
    return res

In [25]:
frame['assigned_articles'] = frame['cluster'].apply(assigned_articles)

In [26]:
frame.head()

,article,cluster,internal_references,assigned_articles
21,Article 1,21,[460],"[Article 1, Article 364, Article 397, Article ..."
39,Article 2,39,[],"[Article 2, Article 18, Article 20, Article 21..."
35,Article 3,35,[],"[Article 3, Article 135, Article 463, Article ..."
23,Article 4,23,"[4, 2, 115, 25, 71, 301, 113, 1]","[Article 4, Article 19, Article 49, Article 396]"
59,Article 5,59,[],"[Article 5, Article 192]"

In [28]:
def clean_references(text2):
    res2 = re.findall('\d+(?!\))', text2)
    return res2

In [29]:
frame['assigned_articles'] = frame['assigned_articles'].astype(str)
frame['assigned_articles'] = frame['assigned_articles'].apply(clean_references)

In [30]:
frame.head()

,article,cluster,internal_references,assigned_articles
21,Article 1,21,[460],"[1, 364, 397, 445, 457]"
39,Article 2,39,[],"[2, 18, 20, 21, 76, 100, 415, 430]"
35,Article 3,35,[],"[3, 135, 463, 513, 515]"
23,Article 4,23,"[4, 2, 115, 25, 71, 301, 113, 1]","[4, 19, 49, 396]"
59,Article 5,59,[],"[5, 192]"

In [31]:
def count_references(references):
    references_count = 0
    for i in range(1, len(frame)):
        i = str(i)
        if i in references:
            references_count +=1
    return references_count

In [32]:
frame['references_count'] = frame['internal_references'].apply(count_references).astype(int)

In [33]:
frame['assigned_articles_count'] = frame['assigned_articles'].apply(count_references).astype(int)

In [34]:
frame['correctly_labeled'] = [len(set(a).intersection(b)) for a, b in zip(frame['internal_references'], frame['assigned_articles'])]

In [36]:
frame['precision'] = (frame['correctly_labeled']/ frame['assigned_articles_count'])

In [37]:
frame['recall'] = (frame['correctly_labeled']/ frame['references_count'])

In [39]:
frame.head(10)

,article,cluster,internal_references,assigned_articles,references_count,assigned_articles_count,correctly_labeled,precision,recall
21,Article 1,21,[460],"[1, 364, 397, 445, 457]",1,5,0,0.000000,0.000
39,Article 2,39,[],"[2, 18, 20, 21, 76, 100, 415, 430]",0,8,0,0.000000,NaN
35,Article 3,35,[],"[3, 135, 463, 513, 515]",0,5,0,0.000000,NaN
23,Article 4,23,"[4, 2, 115, 25, 71, 301, 113, 1]","[4, 19, 49, 396]",8,4,1,0.250000,0.125
59,Article 5,59,[],"[5, 192]",0,2,0,0.000000,NaN
44,Article 6,44,"[19, 89, 90, 91, 508, 95, 7, 96]","[6, 16, 459]",8,3,0,0.000000,0.000
17,Article 7,17,"[6, 11]","[7, 8, 9, 10, 27, 146, 148, 283, 295, 296, 312...",2,15,0,0.000000,0.000
17,Article 8,17,"[21, 113]","[7, 8, 9, 10, 27, 146, 148, 283, 295, 296, 312...",2,15,0,0.000000,0.000
17,Article 9,17,"[6, 7]","[7, 8, 9, 10, 27, 146, 148, 283, 295, 296, 312...",2,15,1,0.066667,0.500
17,Article 10,17,[],"[7, 8, 9, 10, 27, 146, 148, 283, 295, 296, 312...",0,15,0,0.000000,NaN

In [40]:
avg_precision = frame['precision'].mean()
avg_recall = frame['recall'].mean()

print('Average Precision: ')
print(avg_precision)
print('Average Recall: ')
print(avg_recall)

Average Precision:
0.03007732036835088
Average Recall:
0.11513755646921477

In [41]:
from __future__ import print_function

#sort cluster centers by proximity to centroid
order_centroids = km.cluster_centers_.argsort()[:, ::-1] 

for i in range(num_clusters):
    print("Cluster %d articles:" % i, end='')
    for article in frame.ix[i]['article'].values.tolist():
        print(' %s,' % article, end='')
    print() #add whitespace
    print() #add whitespace
    
print()
print()

Cluster 0 articles: Article 63, Article 77,

Cluster 1 articles: Article 174, Article 175, Article 179, Article 180, Article 190, Article 376, Article 446,

Cluster 2 articles: Article 33, Article 198, Article 229, Article 366,

Cluster 3 articles: Article 24, Article 466, Article 479, Article 481, Article 487,

Cluster 4 articles: Article 247, Article 384, Article 389, Article 399, Article 500,

Cluster 5 articles: Article 92, Article 163, Article 291, Article 293, Article 323, Article 367, Article 372, Article 407, Article 454,

Cluster 6 articles: Article 112, Article 172, Article 176, Article 302, Article 387, Article 398, Article 409, Article 447,

Cluster 7 articles: Article 103, Article 338, Article 345, Article 357, Article 359, Article 374,

Cluster 8 articles: Article 14,

Cluster 9 articles: Article 32, Article 41, Article 304, Article 341,

Cluster 10 articles: Article 25, Article 86, Article 494,

Cluster 11 articles: Article 199, Article 211, Article 227,

Cluster 12 articles: Article 220, Article 222, Article 223, Article 228, Article 230, Article 231, Article 235, Article 271,

Cluster 13 articles: Article 123, Article 147, Article 153, Article 154, Article 161, Article 162, Article 242, Article 255, Article 261, Article 262, Article 289, Article 306, Article 390, Article 449,

Cluster 14 articles: Article 502, Article 503, Article 504, Article 505, Article 508, Article 514, Article 517, Article 518,

Cluster 15 articles: Article 26, Article 28, Article 29, Article 31, Article 43, Article 51, Article 52, Article 53, Article 54, Article 64, Article 66, Article 78, Article 200, Article 330, Article 483, Article 489,

Cluster 16 articles: Article 84, Article 85, Article 87, Article 91,

Cluster 17 articles: Article 7, Article 8, Article 9, Article 10, Article 27, Article 146, Article 148, Article 283, Article 295, Article 296, Article 312, Article 314, Article 363, Article 380, Article 414,

Cluster 18 articles: Article 137, Article 139, Article 194, Article 202, Article 204, Article 213, Article 216, Article 218, Article 268, Article 269, Article 347, Article 439,

Cluster 19 articles: Article 62, Article 108, Article 130, Article 249, Article 250, Article 253, Article 257, Article 264,

Cluster 20 articles: Article 111, Article 166, Article 168, Article 207, Article 233, Article 239, Article 429,

Cluster 21 articles: Article 1, Article 364, Article 397, Article 445, Article 457,

Cluster 22 articles: Article 11, Article 13, Article 15,

Cluster 23 articles: Article 4, Article 19, Article 49, Article 396,

Cluster 24 articles: Article 484, Article 485,

Cluster 25 articles: Article 17, Article 325, Article 356, Article 436,

Cluster 26 articles: Article 73, Article 178, Article 197, Article 224, Article 416, Article 422, Article 424, Article 425, Article 50d,

Cluster 27 articles: Article 225, Article 355, Article 361, Article 412, Article 420, Article 421, Article 431,

Cluster 28 articles: Article 462, Article 506, Article 512, Article 516,

Cluster 29 articles: Article 45, Article 59, Article 69,

Cluster 30 articles: Article 226, Article 388, Article 404, Article 498,

Cluster 31 articles: Article 428, Article 509, Article 510, Article 519,

Cluster 32 articles: Article 89, Article 101, Article 124, Article 164, Article 394, Article 395, Article 458, Article 460, Article 461, Article 501,

Cluster 33 articles: Article 169, Article 171, Article 184, Article 297, Article 320, Article 321, Article 322,

Cluster 34 articles: Article 44, Article 58, Article 68,

Cluster 35 articles: Article 3, Article 135, Article 463, Article 513, Article 515,

Cluster 36 articles: Article 133, Article 165, Article 186, Article 187, Article 362,

Cluster 37 articles: Article 46, Article 60, Article 70, Article 427,

Cluster 38 articles: Article 113, Article 129, Article 160, Article 201, Article 254, Article 259,

Cluster 39 articles: Article 2, Article 18, Article 20, Article 21, Article 76, Article 100, Article 415, Article 430,

Cluster 40 articles: Article 105, Article 329, Article 344, Article 352, Article 354, Article 358,

Cluster 41 articles: Article 189, Article 287, Article 370,

Cluster 42 articles: Article 326, Article 327, Article 371,

Cluster 43 articles: Article 167, Article 236, Article 275, Article 392,

Cluster 44 articles: Article 6, Article 16, Article 459,

Cluster 45 articles: Article 208, Article 209, Article 210, Article 319, Article 369,

Cluster 46 articles: Article 79, Article 80, Article 97, Article 99, Article 136, Article 270, Article 410, Article 419, Article 426, Article 440, Article 441, Article 443, Article 451, Article 50a, Article 50c,

Cluster 47 articles: Article 30, Article 50, Article 471,

Cluster 48 articles: Article 142, Article 205, Article 405,

Cluster 49 articles: Article 469, Article 472, Article 475, Article 477, Article 486,

Cluster 50 articles: Article 104, Article 234, Article 248, Article 303, Article 305, Article 337, Article 348, Article 373,

Cluster 51 articles: Article 300, Article 382, Article 464, Article 482, Article 497, Article 520, Article 50b,

Cluster 52 articles: Article 122, Article 127, Article 131, Article 140, Article 159, Article 442,

Cluster 53 articles: Article 12, Article 22, Article 23, Article 98, Article 118, Article 411, Article 450,

Cluster 54 articles: Article 272, Article 276, Article 284, Article 285, Article 292, Article 294,

Cluster 55 articles: Article 307, Article 308, Article 309, Article 310, Article 378,

Cluster 56 articles: Article 72, Article 88, Article 93,

Cluster 57 articles: Article 37, Article 38,

Cluster 58 articles: Article 128, Article 143, Article 144, Article 150, Article 152, Article 173, Article 495,

Cluster 59 articles: Article 5, Article 192,

Cluster 60 articles: Article 478,

Cluster 61 articles: Article 35, Article 61, Article 71, Article 488, Article 490, Article 491,

Cluster 62 articles: Article 96, Article 132, Article 214, Article 301, Article 311, Article 349, Article 379,

Cluster 63 articles: Article 106, Article 217, Article 237, Article 274, Article 298, Article 452, Article 453,

Cluster 64 articles: Article 134, Article 156, Article 193, Article 240, Article 241, Article 246, Article 251, Article 258, Article 266,

Cluster 65 articles: Article 243, Article 244, Article 336, Article 377, Article 406, Article 511,

Cluster 66 articles: Article 191, Article 391, Article 393,

Cluster 67 articles: Article 474, Article 476,

Cluster 68 articles: Article 42, Article 57, Article 67, Article 279, Article 281, Article 331, Article 353, Article 375,

Cluster 69 articles: Article 334, Article 342, Article 343, Article 350, Article 351, Article 360,

Cluster 70 articles: Article 107, Article 114, Article 115, Article 116, Article 117, Article 119, Article 120, Article 121, Article 170, Article 400, Article 493, Article 496,

Cluster 71 articles: Article 138, Article 203, Article 267,

Cluster 72 articles: Article 467, Article 468, Article 473, Article 480,

Cluster 73 articles: Article 221, Article 273, Article 365, Article 383,

Cluster 74 articles: Article 277, Article 278, Article 280, Article 335, Article 435, Article 448,

Cluster 75 articles: Article 177, Article 212, Article 219, Article 238, Article 423,

Cluster 76 articles: Article 40, Article 324,

Cluster 77 articles: Article 339, Article 340,

Cluster 78 articles: Article 55, Article 65,

Cluster 79 articles: Article 47, Article 48, Article 470,

Cluster 80 articles: Article 145, Article 149, Article 313,

Cluster 81 articles: Article 206, Article 286, Article 290,

Cluster 82 articles: Article 181, Article 182, Article 185, Article 188, Article 316, Article 318,

Cluster 83 articles: Article 110, Article 332, Article 346, Article 381, Article 386,

Cluster 84 articles: Article 95, Article 417, Article 418,

Cluster 85 articles: Article 141, Article 299, Article 403, Article 444,

Cluster 86 articles: Article 333,

Cluster 87 articles: Article 288, Article 368, Article 455,

Cluster 88 articles: Article 36, Article 56, Article 90, Article 437,

Cluster 89 articles: Article 109, Article 151, Article 155, Article 157, Article 158, Article 195, Article 245, Article 252, Article 256, Article 260, Article 263, Article 265, Article 385, Article 438,

Cluster 90 articles: Article 432, Article 433, Article 434,

Cluster 91 articles: Article 282, Article 328,

Cluster 92 articles: Article 315, Article 317,

Cluster 93 articles: Article 81, Article 82, Article 83,

Cluster 94 articles: Article 183, Article 408,

Cluster 95 articles: Article 196, Article 456, Article 507,

Cluster 96 articles: Article 94, Article 125, Article 126, Article 232, Article 401, Article 402,

Cluster 97 articles: Article 102, Article 413,

Cluster 98 articles: Article 39, Article 75, Article 215,

Cluster 99 articles: Article 34, Article 74, Article 465, Article 492, Article 499,