In [24]:
import pandas as pd

In [25]:
df = pd.read_csv('references.csv')

In [26]:
df.head()

   Article                                        References
0        1                                           ['460']
1        2                                                []
2        3                                                []
3        4  ['4', '2', '115', '25', '71', '301', '113', '1']
4        5                                                []

In [29]:
def convert_int(references):
    result = eval(references)
    return result

In [30]:
df['References'] = df['References'].apply(convert_int)

In [31]:
df.head()

   Article                        References
0        1                             [460]
1        2                                []
2        3                                []
3        4  [4, 2, 115, 25, 71, 301, 113, 1]
4        5                                []

In [32]:
articles1 = list()
articles2 = list()

for x in range (1, len(df)):
    numbers = df['References'][x]
    numbers = list(map(int, numbers))
    for y in range (1, len(df)):
        if y in numbers:
            articles1.append(df['Article'][x])
            articles2.append(df['Article'][y])

In [35]:
crr_articles = { 'articles1': articles1, 'articles2': articles2}

frame = pd.DataFrame(crr_articles, columns = ['articles1', 'articles2'])

In [37]:
frame.to_pickle('all_linked_pairs.pkl')

In [38]:
frame.to_csv('all_linked_pairs.csv')